body {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-weight: 700;
}
p {
  padding-bottom: .5rem;
}

a {
  color: #4a4a4a;
  text-decoration: underline;
}

.red {
  color: #AE3433;
}
.blue {
  color: #16A0D5;
}
.contents h1 {
  font-size: 25px;
}
.contents ul li:nth-child(even) {
  padding-left: 1rem;
  padding-bottom: .5rem;
}

.page h1 {
  font-size: 28px;
  font-weight: 700;
}
.page h2 {
  font-size: 22px;
  font-style: italic;
  padding-bottom: 1.2rem;
}
.page .superscript {

}
.page .notes {
  font-size: 12px;
}
.page .music li:nth-child(even) {
  padding-left: 1rem;
  padding-bottom: .8rem;
}

.strike {
  text-decoration: line-through;
}

.footer {
  background-color: #ffffff;
  font-size: 14px;
}

.footer a {
  text-decoration: none;
}
